# Виртуальное окружение
Interpritator/ryton_venv/
ryton_venv/
cache/*
venv/

# Скомпилированные файлы и дистрибутивы
dist/
*.so

# Zig окружение
Interpritator/ZigLang/lib/*

# все файлы сборок
tests/**/dist/
tests/**/build/
tests/**/__pycache__/
tests/**/bundle/
tests/**/*.pyc

# прочее
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.kivy
.venv
.vscode
cache

