cloudpickle==3.1.0
dask==2024.11.2
filelock==3.16.1
frozenlist==1.5.0
fsspec==2024.10.0
idna==3.10
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markdown-it-py==3.0.0
mdurl==0.1.2
msgpack==1.1.0
packaging==24.2
partd==1.4.2
protobuf==5.28.3
psutil==6.1.0
Pygments==2.18.0
referencing==0.35.1
requests==2.32.3
rich==13.9.4
rpds-py==0.21.0
setuptools==75.6.0
toolz==1.0.0
urllib3==2.2.3
jpype1
cffi
